@font-face {
    font-family: 'Montserrat';
    src: url('../static/fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
}

svg path {
    fill: #A1A1A1;
}

nav li {
    list-style: none;
}

nav a {
    height: 100%;
    text-decoration: none;
    color: #A1A1A1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}